html
{
    font-family: 'Press Start 2P', sans-serif;
}

#intro_name
{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

#name_title
{
    text-align: center;
    font-size: 25px;
}

#discord_button
{
    border-radius: 10px;
    text-align: center;
}

#steam_button
{
    border-radius: 10px;
    text-align: center;
}

#itch_button
{
    border-radius: 10px;
    text-align: center;
}

#buttons_img_container
{
    text-align: center;
}

a 
{
    text-decoration: none;
}

#paragraph1_mainpage
{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

#clickonthesections
{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}

#selections_img_container 
{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#navbar
{
    margin-top: 30px;
}

#navbar_programming
{
    font-size: 25px;
    margin-left: 70px;
}

#navbar_home
{
    font-size: 25px;
    margin-left: 70px;
}

#navbar_mapping
{
    font-size: 25px;
    margin-left: 70px;
}

#navbar_contact
{
    font-size: 25px;
    margin-left: 70px;
}

#navbar_text
{
    text-align: center;
    margin-bottom: 25px;
}

#programming_title
{
    text-align: center;
    margin-top: 50px;
}

#content-container
{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

#stacked-images
{
    display: flex;
    gap: 8px;
    flex-direction: column; 
}

#stacked_text
{
    max-width: 400px;
    font-size: 16px;
    line-height: 1.5;
}

#c_int_p1
{
    margin-top: 40px;
}